<h1>This is a new pirate form!</h1>
<form method="POST" action="/pirates">
<h2>Pirate Info:</h2>
<label for="pirate[name]">Pirate Name:</label>
<input type="text" name="pirate[name]" id="pirate[name]">
<label for="pirate[weight]">Pirate Weight:</label>
<input type="text" name="pirate[weight]" id="pirate[weight]">
<label for="pirate[height]">Pirate Height:</label>
<input type="text" name="pirate[height]" id="pirate[height]">
<h2>Ship Info:</h2>
<h3>First Ship:</h3>
<label for="pirate[ships][][name]">Ship Name:</label>
<input type="text" name="pirate[ships][][name]" id="ship_name_1">
<label for="pirate[ships][][type]">Ship Type:</label>
<input type="text" name="pirate[ships][][type]" id="ship_type_1">
<label for="pirate[ships][][booty]">Ship Booty:</label>
<input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
<h3>Second Ship:</h3>
<label for="pirate[ships][][name]">Ship Name:</label>
<input type="text" name="pirate[ships][][name]" id="ship_name_2">
<label for="pirate[ships][][type]">Ship Type:</label>
<input type="text" name="pirate[ships][][type]" id="ship_type_2">
<label for="pirate[ships][][booty]">Ship Booty:</label>
<input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
<p><input type="submit" id="Submit"/></p>
</form>
